header {
  text-align: center;
  background-color: rgba(0, 128, 128, 0.567);
  margin-bottom: 2rem;
  padding: 1rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.83);
}
a {
  margin: 0 10px;

  text-decoration: none;
}

a:hover {
  color: rgba(9, 115, 3, 0.207) !important;
  transition: ease-in-out;
  animation-duration: 10ms;
}

.active {
  color: #2a0202 !important;
  /* text-decoration:underline; */
}
