<!-- <div *ngIf="faceSnaps.snaps>0"> -->

<!-- <div *ngIf="faceSnaps.snaps >= 2350 ; else nodata"> -->
<!-- {{ faceSnaps | json }}rr {{ snapName }}ss -->
<div>
  <a routerLink="/" class="text-success fw-bolder d-inline-block mb-3 nav-link">
    <i class="bi bi-house-exclamation"></i> Home</a
  >
  >>
  <a
    routerLink="/facesnaps"
    class="ms-1 active text-success fw-bolder d-inline-block mb-3 nav-link"
  >
    <i class="bi bi-eye"></i>Facesnaps</a
  >
  >> <span class="active">{{ faceSnaps.title }} </span>
</div>
<div class="card d-flex flex-column mb-2 snaps">
  <!-- {{ faceSnaps | json }} -->
  <a routerLink="/facesnaps" class="p-1 mb-3 d-inline-block">back</a>

  <img
    [src]="faceSnaps.imageUrl"
    class="card-img-top object-fit-cover"
    [alt]="faceSnaps.description"
  />
  <div class="card-body">
    <span class="d-block card-title"> {{ faceSnaps.title | uppercase }}</span>

    <div class="card-text">
      <span class="d-block card-text">
        Titre : {{ faceSnaps.description | titlecase }}</span
      >
      <!-- <span class="d-block card-text"
          >En ligne depuis: {{ faceSnaps.createdAt | date }}</span
        > -->
      <span class="d-block card-text" *ngIf="faceSnaps.location">
        Photo prise : {{ faceSnaps.location }}
      </span>

      <span class="d-block">
        <button (click)="onAddSpan()" class="btn btn-outline-success">
          {{ btnName }}
          <i class="bi bi-person-heart text-danger me-1"></i>
        </button>
        <span [ngStyle]="{ color: 'rgb(10, ' + faceSnaps.snaps + ', 80)' }">
          {{ faceSnaps.snaps }}</span
        >
      </span>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted"
      >Last updated {{ faceSnaps.createdAt | date : "medium" }} ago</small
    >
  </div>
</div>
<!-- </div> -->
<ng-template #nodata>No snaps to display</ng-template>
