<!-- <app-face-snap *ngIf="snaps.snaps>2"  [faceSnaps]="snaps"></app-face-snap>

<app-face-snap *ngIf="snaps2.snaps>2" [faceSnaps]="snaps2"></app-face-snap>
<app-face-snap *ngIf="snaps3.snaps>2" [faceSnaps]="snaps3"></app-face-snap> -->

<!-- <div *ngFor="let snap of snaps">
  <app-face-snap [faceSnaps]="snap"></app-face-snap>
  <app-face-snap *ngIf="snap.snaps>2" [faceSnaps]="snap"></app-face-snap>
</div> -->
<!-- <app-face-snap *ngFor="let snap of snaps" [faceSnaps]="snap"></app-face-snap> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-md-3" *ngFor="let snap of snaps"> -->
<div>
  <a routerLink="" class="text-success fw-bolder d-inline-block mb-3 nav-link">
    <i class="bi bi-house-exclamation"></i> Home</a
  >
  >> <span class="active"> Facesnaps</span>

  <!-- <div class="m-3">
    <button (click)="onCreateSnap()" class="btn btn-outline-dark">
      <i class="bi bi-plus-circle-fill"></i>
    </button>
  </div> -->
</div>
<div *ngIf="(snaps$ | async) !== null; else nospan">
  <div class="container">
    <div class="row">
      <!-- <div>
      <input type="text" [(ngModel)]="snapsZise">
    </div> -->

      <div class="col" *ngFor="let snap of snaps$ | async">
        <div class="d-flex flex-wrap">
          <app-face-snap [faceSnaps]="snap"></app-face-snap>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nospan>
  <h1 class="card p-3 mt-3">No todo to display</h1></ng-template
>

<!-- <div class="card-group" *ngFor="let snap of snaps">
  <app-face-snap [faceSnaps]="snap"></app-face-snap>

</div> -->
